.main-title{
    color: #FFFFFFDE;
    font-size: 35px;
    font-weight: 700;
}
.product-main-title{
    color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    font-weight: 500;
}

@media(max-width:600px){
    .main-title{
        margin-top: 20px;
    }
}